[submodule "tclconfig"]
	path = tclconfig
	url = https://github.com/tcltk/tclconfig.git
[submodule "7zip"]
	path = 7zip
	url = https://github.com/ip7z/7zip.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "tests/tcltestex"]
	path = tests/tcltestex
	url = https://github.com/chpock/tcltestex.git
